.container {
  padding: 0 16px;
  overflow-y: auto;
}

.addButton {
  margin: 16px 0 !important;
}

.statusDot {
  height: 10px;
  width: 10px;
  display: inline-block;
  background: #28cd41;
  margin: 0 6px 0 0;
  border-radius: 50%;
}
