.container {
  background: var(--colors-app-shell-background);
  color: var(--colors-app-shell-color);
  box-shadow: 0 -5px 25px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
  display: grid;
  grid-template-columns: 2rem 1fr 2rem;
  align-items: center;
  position: relative;
}

.speedLimitIcon {
  cursor: pointer;
  width: 100%;
}
.active {
  color: #2b6ec8;
}
.text {
  padding: 0 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
